/*.navbar {
  background-color: #f2f2f2;
  padding: 10px;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar-item a:hover {
  color: #555;
}*/

/* Navbar.css */
/* Navbar.css */
.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;

  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav-item {
  padding: 10px;
}

.nav-link {
  color: #333;
  text-decoration: none;
  transition: color 0.2s;
}

.nav-link:hover {
  color: #555;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex-grow: 1;
  padding-bottom: 60px; /* 調整底部間距，確保內容不被Navbar遮住 */
}
