/*.navbar {
  background-color: #f2f2f2;
  padding: 10px;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar-item a:hover {
  color: #555;
}*/

/* Navbar.css */
/* Navbar.css */
/* // .navbar {
//   position: fixed;
//   bottom: 0;
//   width: 100%;
//   background-color: #f8f8f8;
//   box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.3);
//   z-index: 100;
// }

// .navbar-nav {
//   display: flex;
//   justify-content: space-around;

//   padding: 0;
//   margin: 0;
//   list-style-type: none;
// }

// .nav-item {
//   padding: 10px;
// }

// .nav-link {
//   color: #333;
//   text-decoration: none;
//   transition: color 0.2s;
// }

// .nav-link:hover {
//   color: #555;
// }

// .page-container {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

// .content-container {
//   flex-grow: 1;
//   padding-bottom: 60px; /* 調整底部間距，確保內容不被Navbar遮住 */
/* // } */

.navbar {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 1% 0;
  background: rgba(42, 40, 40);
  border-radius: 0px 0px 0 0;
  box-shadow: 50px 0 50px 0 rgba(253, 253, 253, 0.3);
}

.navbar button {
  cursor: pointer;
  width: 100px;
  height: 50px;
  border-radius: 20px;
  background: transparent;
  transition: all 0.25s ease;
  border: none;
}

.navbar button:active:not(.plus) {
  transform: scale(1.2);
}

/* .navbar button.active {
  color: #e84c4f;
} */

.navbar button i {
  font-size: 1.5rem;
  pointer-events: none;
}

.navbar button.plus {
  height: 60px;
  color: #fff;
  background: #eee0e0;
  border-radius: 25px;
  margin-top: -50px;
  box-shadow: 0 10px 20px 0 #e84c4f66;
}

.navbar button.plus:hover {
  transform: translateY(-4px);
}

.navbar .effect {
  position: absolute;
  width: 60px;
  height: 50px;
  border-radius: 18px;
  background: #fffdfdf4;
  opacity: 0;
}

.btn {
  background-color: #fff;
}

.icon {
  color: #fff;
}
